@IconSaltyFish: url(../res/favicon.ico);

body {
    background: rgba(0, 0, 0, .5) url("../res/bg.jpg") fixed no-repeat 100% 100%;
    line-height: 1.5;
    height: 2000px;


    .TopBar {
        position: sticky;
        top: 0;
        left: 0;
        font-size: 0;
        width: 90vw;
        height: 4vw;

        .Icon {
            overflow: hidden;
            height: 4vw;
            width: 10vw;

            a {
                position: absolute;
                top: -3vw;
                left: 0;
                width: 10vw;
                height: 10vw;
                background: @IconSaltyFish;
                background-size: 100%;
            }
        }

        .Nav {
            position: absolute;
            top: 0;
            left: 10vw;
            flex-direction: row;
            justify-content: center;
            width: 80vw;
            height: 4vw;
            font-size: 1rem;

            .NavItem {
                flex: 1;
                border: 1px solid pink;
            }
        }
    }

    #btn {
        background-color: pink;
        width: 100px;
        height: 50px;
    }

    .p {
        width: 100px;
        height: 100px;
        background-color: pink;
        display: none;

        .s {
            width: 50px;
            height: 50px;
            background-color: blue;


        }
    }

    table {
        border: 1px solid pink;
        position: absolute;
        left: 10%;
        top: 10%;
        transform: translate(-50%, -50%);
        // background-color: pink;
    }

    form {
        position: absolute;
        left: 20%;
        top: 20%;
        background-color: #ccc;
        border: 1px pink;

    }

    input {
        -webkit-appearance: button;
    }

    input[type=button] {
        background-color: pink;
    }
}